<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="pt-br"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="pt-br"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Facebook Open Graph Data -->
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="<%= request.request_uri %>">
  
  <meta name="robots" content="all" />
  <meta name="author" content="Editora Abril">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="" />

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/base.1280.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/home.min.css" />
  <style type="text/css">
    /* Style for this Demo */
    div { margin-bottom: 10px }
    h1, h2 { padding: 10px 0 }
    li { float: left; margin-right: 10px }
    /* Grid System */
    .row { background-color:#eee; }
    .row .col-main { background-color:#ccc; margin-bottom: 10px; }
    .row .col-side { background-color:#999; margin-bottom: 10px; }
    .row div { background-color: #fff; }
    .row div p { border:1px solid #333; padding: 10px; }
  </style>
  
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  <link rel="dns-prefetch" href="<%= @site.asset_url %>">
  <link rel="dns-prefetch" href="//assineabril.com.br">
  <link rel="canonical" href="<%= request.request_uri %>" />
  
  <!-- All JavaScript at the bottom, except this Modernizr.js -->
  <script src="javascripts/libs/modernizr-2.0.6.min.js"></script>
  <!-- Enable HTML5/CSS3 in IE7+8 --> 
  <!--[if lt IE 9]>
    <script src="https://raw.github.com/keithclark/selectivizr/master/selectivizr.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  
</head>

<body>
  
  <header class="row">
    
    <div class="col6">
      
      <h1><a href="/">Logo</a></h1>
  		
  		<nav>
  			<ul>
  				<li><a href="">Nav Link 1</a></li>
  				<li><a href="">Nav Link 2</a></li>
  				<li><a href="">Nav Link 3</a></li>
  			</ul>
  		</nav>
  		
		</div>
		
  </header>
  
  <div id="container" role="main">
    
    <section class="gridsystem row clearfix">
      
      <h2 class="col6">
        6 Column - Row
      </h2>
      
      <div class="col6">
        <p> .col6 </p>
      </div>
      
      <div class="col1">
        <p>.col1</p>
      </div>
      <div class="col5">
        <p>.col5</p>
      </div>
      
      <div class="col2">
        <p>.col2</p>
      </div>
      <div class="col4">
        <p>.col4</p>
      </div>
      
      <div class="col3">
        <p>.col3</p>
      </div>
      
      <div class="col3">
        <p>.col3</p>
      </div>
      
      <div class="col2">
        <p>.col2</p>
      </div>
      <div class="col2">
        <p>.col2</p>
      </div>
      <div class="col2">
        <p>.col2</p>
      </div>
      
      <div class="col1">
        <p>.col1</p>
      </div>
      <div class="col1">
        <p>.col1</p>
      </div>
      <div class="col1">
        <p>.col1</p>
      </div>
      <div class="col1">
        <p>.col1</p>
      </div>
      <div class="col1">
        <p>.col1</p>
      </div>
      <div class="col1">
        <p>.col1</p>
      </div>
      
      <section class="col-main">
        
        <h2 class="col4">
          4 Column - Col Main
        </h2>
        
        <div class="col4">
          <p>.col4</p>
        </div>
        
        <div class="col1">
          <p>.col1</p>
        </div>
        <div class="col3">
          <p>.col3</p>
        </div>
        
        <div class="col2">
          <p>.col2</p>
        </div>
        <div class="col2">
          <p>.col2</p>
        </div>
        
        <div class="one-third">
          <p>.one-third</p>
        </div>
        <div class="one-third">
          <p>.one-third</p>
        </div>
        <div class="one-third">
          <p>.one-third</p>
        </div>
        
        <div class="col1">
          <p>.col1</p>
        </div>
        <div class="col1">
          <p>.col1</p>
        </div>
        <div class="col1">
          <p>.col1</p>
        </div>
        <div class="col1">
          <p>.col1</p>
        </div>
        
      </section>
      
      <aside class="col-side">
        
        <h2 class="col2 clearfix">
          2 Column - Col Side
        </h2>
        
        <div class="col2">
          <p>.col2</p>
        </div>
        
        <div class="col2">
          <p>.col2</p>
        </div>
        
        <div class="col1">
          <p>.col1</p>
        </div>
        
        <div class="col1">
          <p>.col1</p>
        </div>
        
      </aside>
      
      <aside class="col-out-side">
        
        <h2 class="col2 clearfix">
          Col Out Side
        </h2>
        
        <div class="col2">
          <p>.col2</p>
        </div>
        
        <div class="col2">
          <p>.col2</p>
        </div>
        
        <div class="col1">
          <p>.col1</p>
        </div>
        
        <div class="col1">
          <p>.col1</p>
        </div>
        
      </aside>
      
    </section>
    
  </div><!-- #container -->
  
  <footer class="row">
    
    <p class="col6"> Copyright &copy; 2012 - Ediora Abril </p>
    
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN"s jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>")</script>

  <!-- scripts concatenated and minified via build script -->
  <script defer src="javascripts/libs/plugins.min.js"></script>
  <script defer src="javascripts/home.min.js"></script>
  <!-- end scripts -->

  <!-- Google Analytics -->
  <script type="text/javascript"> 
    //Config metrics
    var _cmAbr = _cmAbr || [];
    _cmAbr["setPath"] = "/"; //site_path
  </script>
  <script src="/libc/metrics/site/cm_<%= @site.slug %>.js"></script>
  
  <!-- Prompt IE 6 users to install Chrome Frame -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->

</body>
</html>
