/* Grid */
/* .mosaico = para grid sem margin/padding entre as colunas */
.linha, .row {
  width: 1060px;
  max-width: 100%;
  min-width: 980px;
  margin: 0 auto;
}
.linha .linha,
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -20px;
}
.linha.mosaico .coluna,
.row.mosaic .col,
.linha.mosaico .colunas,
.row.mosaic .col { padding: 0; }
.linha .linha,
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -20px;
}
.linha .linha.mosaico,
.row .row.mosaic { margin: 0; }
.col, .coluna, .colunas {
  float: left;
  min-height: 1px;
  padding: 0 20px;
  position: relative;
}
.col.centralizada,
.coluna.centralizada,
.colunas.centralizadas {
  float: none;
  margin: 0 auto;
}
[class*="coluna"] + [class*="coluna"]:last-child { float: left; }
[class*="coluna"] + [class*="coluna"].fim { float: right; }
.linha .um, .linha .uma, .row .one  { width: 8.333%; }
.linha .duas, .row .two { width: 16.667%; }
.linha .tres, .row .three { width: 25%; }
.linha .quatro, .row .four { width: 33.333%; }
.linha .cinco, .row .five  { width: 41.667%; }
.linha .seis, .row .six { width: 50%; }
.linha .sete, .row .seven { width: 58.333%; }
.linha .oito, .row .eight { width: 66.667%; }
.linha .nove, .row .nine { width: 75%; }
.linha .dez, .row .ten  { width: 83.333%; }
.linha .onze, .row .eleven { width: 91.667%; }
.linha .doze, .row .twelve { width: 100%; }
.linha .deslocar-uma, .row .offset-one  { margin-left: 8.333%; }
.linha .deslocar-duas, .row .offset-two { margin-left: 16.667%; }
.linha .deslocar-tres, .row .offset-three { margin-left: 25%; }
.linha .deslocar-quatro, .row .offset-four { margin-left: 33.333%; }
.linha .deslocar-cinco, .row .offset-five { margin-left: 41.667%; }
.linha .deslocar-seis, .row .offset-six { margin-left: 50%; }
.linha .deslocar-sete, .row .offset-seven { margin-left: 58.333%; }
.linha .deslocar-oito, .row .offset-eight { margin-left: 66.667%; }
.linha .deslocar-nove, .row .offset-nine { margin-left: 75%; }
.linha .deslocar-dez, .row .offset-ten { margin-left: 83.333%; }
.empurrar-duas, .push-two { left: 16.667%; }
.empurrar-tres, .push-three { left: 25%; }
.empurrar-quatro, .push-three { left: 33.333%; }
.empurrar-cinco, .push-five { left: 41.667%; }
.empurrar-seis, .push-six { left: 50%; }
.empurrar-sete, .push-seven { left: 58.333%; }
.empurrar-oito, .push-eight { left: 66.667%; }
.empurrar-nove, .push-nine { left: 75%; }
.empurrar-dez, .push-ten { left: 83.333%; }
.puxar-duas, .pull-two { right: 16.667%; }
.puxar-tres, .pull-three { right: 25%; }
.puxar-quatro, .pull-four { right: 33.333%; }
.puxar-cinco, .pull-five { right: 41.667%; }
.puxar-seis, .pull-six { right: 50%; }
.puxar-sete, .pull-seven { right: 58.333%; }
.puxar-oito, .pull-eight { right: 66.667%; }
.puxar-nove, .pull-nine { right: 75%; }
.puxar-dez, .pull-ten { right: 83.333%; }
/* linha clearfix */
.linha, .row { *zoom: 1; }
.linha:before, .row:before, .linha:after, .row:after {
  content: "";
  display: table;
}
.linha:after, .row:after { clear: both; }

/* Padding 20px */
.p20 { padding: 20px; }
.p20-top-rod, .p20-tb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p20-top, .p20-t { padding-top: 20px; }
.p20-rod, .p20-b { padding-bottom: 20px; }
.p20-esq-dir, .p20-lr {
  padding-left: 20px;
  padding-right: 20px;
}
.p20-esq, .p20-l { padding-left: 20px; }
.p20-dir, .p20-r { padding-right: 20px; }
/* Padding 40px */
.p40 { padding: 40px; }
.p40-top-rod, .p40-tb {
  padding-top: 40px;
  padding-bottom: 40px;
}
.p40-top, .p40-t { padding-top: 40px; }
.p40-rod, .p40-b { padding-bottom: 40px; }
.p40-esq-dir, .p40-lr {
  padding-left: 40px;
  padding-right: 40px;
}
.p40-esq, .p40-l { padding-left: 40px; }
.p40-dir, .p40-r { padding-right: 40px; }
/* Padding Zero */
.p0 { padding: 0; }
.p0-l { padding-left: 0; }
.p0-r { padding-right: 0; }

/* Block Grids */
.block-grid { display: block;
 overflow: hidden;
 padding: 0;
}
.block-grid > li { display: block;
 height: auto;
 float: left;
}
.block-grid.one-col, .block-grid.uma-col, .block-grid.um-col { margin: 0; }
.block-grid.one-col > li, .block-grid.uma-col > li, .block-grid.um-col > li {
  width: 100%;
  padding: 0 0 15px;
}
.block-grid.duas-col, .block-grid.two-col { margin: 0 -15px; }
.block-grid.duas-col > li, .block-grid.two-col > li {
  width: 50%;
  padding: 0 15px 15px;
}
.block-grid.tres-col, .block-grid.three-col { margin: 0 -12px; }
.block-grid.tres-col > li, .block-grid.three-col > li {
  width: 33.33%;
  padding: 0 12px 12px;
}
.block-grid.quatro-col, .block-grid.four-col { margin: 0 -10px; }
.block-grid.quatro-col > li, .block-grid.four-col > li {
  width: 25%;
  padding: 0 10px 10px;
}
.block-grid.cinco-col, .block-grid.five-col { margin: 0 -8px; }
.block-grid.cinco-col > li, .block-grid.five-col > li {
  width: 20%;
  padding: 0 8px 8px;
}

