/* Lists */
ul, ol {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: outside;
}
ul li ul {
  margin-left: 20px;
  margin-bottom: 0;
  list-style: outside;
}
ul.quadrado, ul.square, ul.circulo, ul.circle, ul.disco, ul.disc { margin-left: 17px; }
ul.quadrado, ul.square { list-style-type: square; }
ul.quadrado li ul, ul.square li ul { list-style: inherit; }
ul.circulo, ul.circle { list-style-type: circle; }
ul.circulo li ul, ul.circle li ul { list-style: inherit; }
ul.disco, ul.disc { list-style-type: disc; }
ul.disco li ul, ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.grande li, ul.big li { line-height: 21px; }

