/* CSS Resets */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border:0;margin:0;padding:0;}
article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}
a img{border:0;}
figure{position:relative;margin:0;}
img,object,embed{max-width: 100%;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align: middle;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
hr{display: block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ul,ol{list-style: none;list-style-image: none;}
mark{background:#ff0;color:#000;}
svg:not(:root){overflow:hidden;}
audio:not([controls]){display:none;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
::-moz-selection{background:#9ebd24;color:#fff;text-shadow:none;}
::selection{background:#9ebd24;color:#fff;text-shadow:none;}


